@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* #region shared */

* {
  margin: 0;
  padding: 0;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-style: normal;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.btn-primary {
  background-color: rgba(224, 44, 109, 1);
  border: none;
  padding: 10px 24px;
  color: white;
}

header {
  margin: 0 120px;
}

/* #endregion shared */

/* #region navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
  margin-bottom: 50px;
}
.navbar-header {
  font-size: 24px;
}
.navbar-items {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

.navbar-item a {
  text-decoration: none;
}
#shopping-cart {
  position: relative;
}
#circle {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  top: 0;
  right: 0;
}

/* #endregion navbar */

/* #region banner */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  height: 270px;
  width: 582px;
  border-radius: 41px;
}

.banner-title {
  font-size: 3.25rem;
}

/* .banner-description {
  font-size: 16px;
} */

.banner-img-container {
  background-image: url("../assets/images/Circle\ design.svg");
  background-repeat: no-repeat;
  /* background-position: top right; */
  padding: 30px 30px 0;
  justify-self: right;
}

#preebook {
  border-radius: 41px;
  margin-top: 16px;
}

/* #endregion banner */

/* #region advertisement */
.addv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 70px;
  margin-bottom: 80px;
}

.addv-img {
  padding: 42px 60px;
}

/* #engregion advertisement */

/* #region collection */
.collection-container {
  margin: 0 196px;
}

.collection-header {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 40px;
}
.collection-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 17px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card img {
  border-radius: 5px;
  width: 100%;
}

.card-title {
  font-size: 1.75rem;
}
.card-value {
  font-size: 1.5rem;
  padding: 5px 0;
}

.card-rating {
  font-size: 0.88rem;
}
/* #endregion collection */

/* #region media queries */

@media screen and (max-width: 576px) {
  header,
  .addv-container,
  .collection-container {
    margin: 0 auto;
  }

  .addv-img {
    padding: 15px 20px;
  }
  .navbar,
  .navbar-items {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .navbar-items {
    gap: unset;
  }

  .navbar-header {
    font-size: 16px;
  }

  .banner-content {
    height: 222px;
    width: 404px;
    border-radius: 41px;
    text-align: center;
  }

  .banner-title {
    font-size: 1.75rem;
  }

  .banner-description {
    font-size: 0.88rem;
  }

  .collection-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* #endregion media queries */
