@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* #region shared */

* {
  margin: 0;
  padding: 0;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-style: normal;
}
header {
  margin: 0 120px;
}

/* #endregion shared */

/* #region navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
}

.navbar-items {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

.navbar-item a {
  text-decoration: none;
}
#shopping-cart {
  position: relative;
}
#circle {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  top: 0;
  right: 0;
}

/* #endregion navbar */
